# Backend
BE/target/
*.class
*.jar
!BE/src/main/**/target/
!BE/src/test/**/target/
BE/.env

# Frontend
FE/node_modules/
FE/dist/
FE/.angular/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db

# Secrets
application-prod.yml
*.pem
*.key
